.container {
  max-width: 640px;
  margin: 0 auto;
  width: 100%;
  position: relative;
}
.show_pc {
  display: none;
}
img {
  width: 100%;
}
.ins_txt {
 color: #f52e70;
}
.tw_txt {
  color: #008aff;
}
.fb_txt {
  color: #2c4e87;
}
.txt_line {
  position: relative;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 40px;
  &:after {
    content: "";
    position: absolute;
    background: url('../images/txt_line.png') no-repeat;
    background-size: contain;
    width: 230px;
    height: 44px;
    bottom: -44px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.blue {
  background: #319fde;
  width: 100%;
  height: 57px;
  text-align: center;
  line-height: 21px;
  padding: 8px 0;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  margin-top: 34px;
}
.header {
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 9;
  h1 {
    padding: 20px;
    a {
      font-size: 0;
      display: block;
      width: 80px;
      display: block;
      transition: all .3s ease-out;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .menu_wrapper {
    position: absolute;
    top: 25px;
    right: 20px;
  }
  .menu_btn {
    position: relative;
    height: 22px;
    width: 32px;
    display: block!important;
    cursor: pointer;
    &::before, &::after {
      content: "";
    }
    span, &::after, &::before {
      height: 3px;
      width: 32px;
      position: absolute;
      left: 0;
      background-color: #222324;
      transition: all .3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 9px;
      text-indent: -9999px;
    }
    &.is-active {
      &:before {
        transform: rotate(135deg);
        top: 9px;
      }
      &:after {
        transform: rotate(-135deg);
        top: 9px;
      }
      span {
        display: none;
      }
    }
  }
  .menu_nav {
    opacity: 0;
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 69px;
    left: 0;
    right: 0;
    ul {
      li {
        margin-bottom: 50px;
        padding-bottom: 15px;
        opacity: 0;
        transition: all .6s cubic-bezier(.19,1,.22,1);
        width: 100%;
        &:not(:last-child) {
          border-bottom: 1px solid #000;
        }
        &:nth-of-type(1){
            transition-delay: 100ms;
        }
        &:nth-of-type(2){
            transition-delay: 200ms;
        }
        &:nth-of-type(3){
            transition-delay: 300ms;
        }
        &:nth-of-type(3){
            transition-delay: 400ms;
        }
        &:nth-of-type(4){
            transition-delay: 500ms;
        }
        a {
          text-decoration: none;
          display: block;
          text-align: center;
          font-weight: bold;
          font-size: 15px;
          line-height: 25px;
          color: #000;
          transition: all .3s ease-out;
        }
        &:last-child {
          a {
            background: #fff000;
            border-radius: 15px;
            text-align: center;
            padding: 16px 30px;
          }
        }
      }
    }
    &.active {
      opacity: 1;
      z-index: 1000;
      left: 0;
      ul {
        li {
          opacity: 1;
        }
      }
    }
    &.hide_nav {
      opacity: 0;
    }
  }
}

.mv {
  padding-top: 68px;
  &_txt {
    position: absolute;
    top: 122px;
    left: 19px;
    h1 {
      margin: 0 0 25px 0;
      span {
        font-size: 13px;
        display: block;
        margin-bottom: 11px;
      }
      a {
          width: percentage(120 / 640);
          display: block;
      }
    }
    h2 {
      width: percentage(280 / 640);
      margin-left: 0;
    }
  }
}
h2{
  width: 162px;
  margin: 0 auto 23px;
  text-align: center;
  span {
    font-size: 25px;
    line-height: 30px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    font-family: "Ubuntu";
  }
  em {
    font-style: normal;
    font-size: 13px;
    display: block;
  }
}
.sub_txt {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 0 21px;
  span {
    border-bottom: 3px solid #fe678e;
  }
}
.about {
  padding: 60px 0;
  h2 {
    margin-bottom: 20px;
  }
  &_inner {
    margin: 35px 20px 177px;
    text-align: center;
    position: relative;
    figure {
      position: absolute;
      width: 42%;
      margin: 0 auto;
      &:nth-of-type(1) {
        bottom: -133px;
      }
      &:nth-of-type(2) {
        bottom: -133px;
        right: 0;
      }
    }
  }
  &_txt {
    padding: 27px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 30px 0;
    p {
      font-size: 13px;
      line-height: 20px;
    }
  }
}
.block_05 {
  padding: 0 0 0;
  h2 {
    margin-bottom: 60px;
    figure {
      width: 100px;
      margin: 0 auto;
    }
  }
  &_inner {
  }
  &_price {
    position: relative;
    margin: 40px 20px;
    &:after {
      content: "";
      display: block;
      clear: both;
    }
    p{
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 17px;
      padding: 135px 0 0;
      text-align: center;
    }
    .sns {
      width: 160px;
      margin: 0 auto;
    }
    .price_icon {
      width: 200px;
      height: 121px;
      position: absolute;
      left: 50%;
      top: -32px;
      transform: translateX(-50%);
      // img {
      //   width: 110px;
      //   height: 100%;
      //   object-fit: cover;
      //
      // }
    }
  }
  &_smt {
    position: relative;
    width: 100%;
    background: url('../images/bg_building.png') no-repeat;
    background-position: center bottom 33px;
    background-size: contain;
    figure {
      width: 200px;
      margin: 0 auto;
    }
  }
  &_help {
    position: relative;
    background: url('../images/sakura_bg.png') no-repeat;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-position: center;
    &:before {
      content: "";
      background: url('../images/bee_icon.png')no-repeat;
      width: 120px;
      height: 160px;
      background-size: contain;
      right: 16px;
      top: -18px;
      position: absolute;
    }
    ul {
      margin-bottom: 27px;
      padding: 60px 8px 0 117px;
      li {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
    p {
      font-size: 13px;
      line-height: 22px;
      text-align: center;
      em {
        color: #de3339;
        font-style: normal;

      }
    }
  }
}
.register {
  background: #fff000;
  padding: 40px 0;
  ul {
    display: flex;
    li {
      width: calc(100% / 3);
      margin: 0 10px;
    }
  }
  .step_txt {
    .txt_line {
      position: relative;
      margin-bottom: 76px;
      font-size: 15px;
      line-height: 23px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        background: url('../images/txt_line.png') no-repeat;
        background-size: contain;
        width: 80%;
        height: 44px;
        bottom: -44px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .btn {
      background: #fff;
      width: 300px;
      height: 60px;
      font-size: 15px;
      line-height: 28px;
      line-height: 60px;
      text-align: center;
      margin: 0 auto;
      text-decoration: none;
      display: block;
    }
  }
}
.snsinfo {
  padding-bottom: 60px;
  .block_cv {
    position: relative;
    margin-bottom: 186px;
  }
  .left {
    position: absolute;
    bottom: -200px;
    padding: 0 20px;
    h5 {
      margin-bottom: 13px;
    }
  }
  .right {
    padding: 15px 20px;
    p {
      font-size: 14px;
      line-height: 23px;
    }
  }
}
.oldster_case {
  padding: 0 20px 60px;
  &_txt {
    margin-top: 40px;
    .block_cv {
      display: flex;
      align-items: center;
      padding:15px 20px 15px 20px;
      &:nth-of-type(1) {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 121px;
          top: 71px;
          left: 53px;
          background: #000;
          z-index: -1;
        }
      }
    }
    figure {
      width: 75px;
    }
    .cus_des {
      width: calc(100% - 75px);
      margin-left: percentage(46 / 540);
      p {
        font-size: 14px;
        span {
          display: block;
        }
      }
    }
  }
}
.landing_case {
  padding-bottom: 63px;
  &_txt {
    padding: 50px 30px 0;
    p {
      font-size: 14px;
      line-height: 26px;
      &:nth-of-type(1) {
        margin-bottom: 8px;
      }
      span {
        font-weight: bold;
      }
    }
    .blue {
      line-height: 40px;
    }
  }
}
.block_06 {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
  li {
    width: calc(100% / 2);
  }
}

.block02 {
  padding-bottom: 60px;
  &_txt {
    padding: percentage(20 / 640) percentage(30/ 640) percentage(30 / 640) percentage(30 / 640);
    .block_cv {
      display: flex;
      align-items: center;
      padding:15px 20px 15px 20px;
      &:nth-of-type(1) {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 121px;
          top: 71px;
          left: 53px;
          background: #000;
          z-index: -1;
        }
      }
    }
    figure {
      width: 75px;
    }
    .cus_des {
      width: calc(100% - 75px);
      margin-left: percentage(46 / 540);
      p {
        font-size: 14px;
        span {
          display: block;
        }
      }
    }
  }
}
.pr_step {
  background: #fe678e;
  position: relative;
  padding: 23px 0;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: -50px;
  //   right: 0;
  //   width: 100%;
  //   height: 150px;
  //   background: url('../images/bg_row_01.png') no-repeat;
  //   background-size: contain;
  // }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   bottom: -150px;
  //   left: 0;
  //   width: 100%;
  //   height: 150px;
  //   background: url('../images/bg_row_02.png') no-repeat;
  //   background-size: contain;
  // }
  h2 {
    width: percentage(450 / 640);
    margin: 0 auto 30px;
  }
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
      &:nth-of-type(1) {
        figure {
          width: 250px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 280px;
        }
      }
      &:nth-of-type(3) {
        margin-right: 0;
        figure {
          width: 290px;
        }
      }
    }

  }
  figure {
    margin: 0 auto;
  }
  article {
    padding: 15px 0;
    h4 {
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      color: #fff;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      line-height: 28px;
      color: #fff;
      padding: 0 30px;
      text-align: justify;
    }
  }
}
.service {
  margin-bottom: 50px;
  padding: 0 20px;
  h2 {
    width: 80px;
    margin: 0 auto 30px;
  }
  dl {
    border-bottom: 1px solid #000;
    padding-bottom: 18px;
    margin-bottom: 35px;
    // &:not(last-child) {
    //   margin-bottom: 30px;
    // }
    dt {
      font-size: 15px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 14px;
    }
    dd {
      font-size: 13px;
      line-height: 21px;
    }
  }
  &_inner {
    margin: 80px 0 0;
    .inner_detail {
      padding: 20px 0;
      h4 {
        width: 305px;
        height: 49px;
        font-size: 16px;
        line-height: 49px;
        text-align: center;
        border-radius: 39px;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 30px;
      }
      figure {
        margin: 0 auto 30px;
      }
      p {
        // padding: 0 42px 0 112px;
        font-size: 14px;
        margin-bottom: 7px;
        padding: 0 20px;
        em {
          font-style: normal;
        }
      }
      &:nth-of-type(1) {
        h4 {
          background: #e5e5e5;
        }
        figure {
          width: 315px;
        }
        p {
          em {
            color: #000;
            font-weight: bold;
          }
        }
      }
      &:nth-of-type(2) {
        h4 {
          background: #e52e27;
          color: #fff;
        }
        figure {
          width: 100px;
        }
        p {
          em {
            color: #e52e27;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.option {
  background: $w;
  padding: 40px 0 60px;
  h4 {
    text-align: center;
    margin-bottom: 40px;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      width: calc(100% / 2);
      margin-bottom: 23px;
      text-align: center;
      margin-bottom: 30px;
      figure {
        height: 87px;
        margin: 0 auto;
      }
      p {
        font-size: 12px;
        line-height: 18px;
        margin-top: 5px;
      }
      &:nth-of-type(1) {
        figure {
          width: 101px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 100px;
        }
      }
      &:nth-of-type(3) {
        figure {
          width: 103px;
        }
      }
      &:nth-of-type(4) {
        figure {
          width: 96px;
        }
      }
      &:nth-of-type(5) {
        figure {
          width: 101px;
        }
      }
      &:nth-of-type(6) {
        figure {
          width: 58px;
        }
      }
      &:nth-of-type(7) {
        figure {
          width: 85px;
        }
      }
      &:nth-of-type(8) {
        figure {
          width: 86px;
        }
      }
    }
  }
}
.price {
    padding: 100px 20px 0;
  h2 {
    width: 80px;
  }
  .plan {
    margin-bottom: 30px;
  }
  .row {
      h4 {
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        font-family: "Ubuntu";

        &.pink {
          background: #fe678e;
        }
        &.black {
          background: #000;
        }
      }
      .grey {
        background: #f0f0f0;
        padding: 30px 0 40px;
        p {
          padding: 0 20px;
          &:nth-of-type(1) {
            text-align: center;
            padding-bottom: 10px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
            font-family: "Ubuntu";
            span {
              font-size: 15px;
              font-weight: normal;
              font-family: $font-web;
            }
          }
          &:nth-of-type(2) {
            text-align: center;
            font-size: 13px;
            margin-bottom: 25px;
            span {
              font-weight: bold;
              font-size: 20px;
              font-family: "Ubuntu";
            }
          }
          &:nth-of-type(3) {
            margin-bottom: 15px;
            font-size: 13px;
            font-weight: bold;
            span {
              color: #ff0000;
            }
          }
          &:nth-of-type(4) {
            font-size: 13px;
            line-height: 21px;
          }
        }
        ul {
          display: flex;
          justify-content: space-between;
          margin: 0 20px;
          li {
            width: 17%;
          }
        }
      }
  }
}
.procedure {
  background: #f7f7f7;
  padding: 60px 20px 108px;
  counter-reset: li;
  h2 {
    margin-bottom: 60px;
  }
  ul {
    li {
      counter-increment: li;
      position: relative;
      position: relative;
      background: #fff;
      padding: 40px 0 20px;
      margin-bottom: 50px;
      &:before {
        position: absolute;
        content: "";
        background: #fe678e;
        border-radius: 100%;
        width: 41px;
        height: 41px;
        left: 50%;
        transform: translateX(-50%);
        top: -27px;
      }
      &:after {
        content: counter(li);
        font-size: 20px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        font-weight: 400;
        left: 50%;
        transform: translateX(-50%);
        top: -15px;
        position: absolute;
      }
      figure {
        margin: 0 auto 30px;
      }
      &:nth-of-type(1) {
        figure {
          width: 102px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 111px;
        }
      }
      &:nth-of-type(3) {
        figure {
        width: 151px;
        }
      }
      h5 {
        font-size: 14px;
        font-weight: bold;
        line-height: 22px;
        margin-bottom: 18px;
        text-align: center;
      }
      p {
        font-size: 13px;
        line-height: 21px;
        padding: 0 12px;
      }
    }
  }
}
.casestudy {
  padding: 79px 0 0;
  h2 {
    width: 142px;
    margin: 0 auto 40px;
  }
  article {
    .photo{
      display: flex;
      position: relative;
      figure {
        width: 50%;
      }
      span {
        position: absolute;
        bottom: -20px;
        right: 0;
        font-size: 12px;
        color: #000;
      }
    }
    .cv_box {
      margin: 40px 0 0;
      padding: 0 20px;
      h3 {
        font-size: 20px;
        line-height: 30px;
        border-bottom: 1px solid #000;
        margin-bottom: 30px;
        padding-bottom: 10px;
      }
      h4 {
        font-size: 15px;
        margin-bottom: 10px;
      }
      p {
        font-size: 13px;
        line-height: 21px;
      }
      .store_info {
        margin-bottom: 30px;
        .photo {
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .btn {
        background: #ff6586;
        line-height: 55px;
        height: 55px;
        width: 200px;
        color: #fff;
        text-align: center;
        margin: 70px auto 0;
      }
    }
  }
}
.block_08 {
  h2 {
    width: percentage(300 / 640);
    margin: 0 auto 30px;
  }
  article {
    &:nth-of-type(1){
      margin-bottom: 60px;
    }
    .cv_box {
      background: #f6f6f6;
      padding: 50px 0 50px;
      h3 {
        font-size: 17px;
        line-height: 23px;
        border-bottom: 1px solid #000;
        margin-bottom: 20px;
        text-align: center;
        padding: 0 30px 20px;
      }
      h4 {
        font-size: 15px;
        margin-bottom: 35px;
        text-align: center;
      }
      p {
        font-size: 13px;
        line-height: 36px;
        padding: 0 20px;
      }
      .btn {
        background: #ff6586;
        line-height: 65px;
        height: 65px;
        width: 300px;
        color: #fff;
        text-align: center;
        margin: 70px auto 0;
      }
    }
  }
}
.footer {
  background: #f3f3f3;
  padding: 60px 0;
  position: relative;
  &_nav {
    display: flex;
    justify-content: center;
    ul {
      &:not(:last-child) {
        margin-right: 25px;
      }
      li {
        margin-bottom: 16px;
        a {
          font-size: 13px;
          line-height: 18px;
          font-weight: bold;
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  &_info{
    margin-top: 30px;
    margin-top: 30px;
    padding: 0 20px;
    h1 {
      width: 129px;
      font-size: 0;
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 21px;
    }
    a {
      color: #000;
      text-decoration: none;
      margin-bottom: 10px;
    }
  }
  small {
    font-size: 11px;
    line-height: 18px;
    float: right;
    font-family: "Ubuntu";
  }
}
