//
// landing page
//------------------------------------------------------------------------
@charset "utf-8";
body,
td,
th,
input,
textarea {
  font-family: $font-web;
}
img {
  width: 100%;
}
.container {
  min-width: 1280px;
}
.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.block_cv {
  display: flex;
}

.show_sp {
  display: none;
}
.ins_txt {
 color: #f52e70;
}
.tw_txt {
  color: #008aff;
}
.fb_txt {
  color: #2c4e87;
}
.header {
  .intro {
    position: relative;
    background: url('../images/banner_pc.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  &_txt {
    position: absolute;
    top: 226px;
    left: 110px;
    h1 {
      margin: 0 0 138px 85px;
      span {
        font-size: 18px;
        display: block;
        margin-bottom: 20px;
      }
      a {
          width: 275px;
          display: block;
      }
    }
    h2 {
      width: 545px;
    }
  }
}
.block_01 {
  padding-bottom: 40px;
  .block_cv {
    align-items: center;
  }
  .left {
    width: 40%;
    figure {
      width: 326px;
      margin: -14px auto 0;
    }
  }
  .right {
    width: 60%;
    p {
      font-size: 20px;
      line-height: 40px;
    }
  }
}
.block02 {
  position: relative;
  &_txt {
    width: 523px;
    height: 504px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 19%;
    padding: 39px 0 39px;
    .block_cv {
      align-items: center;
      padding: 54px 20px 50px 64px;
      &:nth-of-type(1) {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 270px;
          top: 62px;
          left: 95px;
          background: #000;
        }
      }
    }
    figure {
      width: 64px;
      position: relative;
      z-index: 1;
    }
    .cus_des {
      padding-left: 20px;
      p {
        font-size: 20px;
        span {
          display: block;
        }
      }
    }
  }
}
.block_03 {
  background: #fe678e;
  padding: 0px 141px 22px;
  position: relative;
  z-index: 2;
  margin-top: -6px;
  &:before {
    content: "";
    position: absolute;
    top: -336px;
    right: 0;
    width: 100%;
    height: 337px;
    background: url('../images/bg_row_01.png') no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -240px;
    left: 0;
    width: 100%;
    height: 337px;
    background: url('../images/bg_row_02.png') no-repeat;
    z-index: -1;
  }
  h2 {
    width: 911px;
    margin: 0 auto 100px;
  }
  ul {
    display: flex;
    li {
      width: calc(100% / 3);
      margin: 0 3%;
      &:nth-of-type(1) {
        figure {
          width: 260px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 300px;
        }
      }
      &:nth-of-type(3) {
        margin-right: 0;
        figure {
          width: 303px;
        }
      }
    }

  }
  figure {
    margin: 0 auto;
    height: 215px;
  }
  article {
    h4 {
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      color: #fff;
    }
  }
}
.block04 {
  position: relative;
  &_txt {
    position: absolute;
    bottom: 0;
    right: 104px;
    background: #fff;
    width: 525px;
    padding: 37px 68px;
    p {
      font-size: 20px;
      line-height: 35px;
      &:nth-of-type(1) {
        margin-bottom: 10px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}
