//
// landing page
//------------------------------------------------------------------------
@charset "utf-8";
body,
td,
th,
input,
textarea {
  font-family: $font-web;
}
img {
  width: 100%;
}
.container {
  min-width: 1280px;
}
.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.block_cv {
  display: flex;
}

.show_sp {
  display: none;
}
.ins_txt {
 color: #f52e70;
}
.tw_txt {
  color: #008aff;
}
.fb_txt {
  color: #2c4e87;
}
.header {
  padding: 40px 0;
  position: fixed;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 9;
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h1 {
    a {
      font-size: 0;
      display: block;
      width: 100px;
      display: block;
      transition: all .3s ease-out;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      li {
        margin: 0 20px;
        a {
          text-decoration: none;
          font-weight: bold;
          font-size: 15px;
          line-height: 25px;
          color: #000;
          transition: all .3s ease-out;
          &:hover {
            opacity: 0.8;
          }
        }
        &:last-child {
          margin-right: 0;
          a {
            background: #fff000;
            border-radius: 13px;
            text-align: center;
            padding: 8px 20px;
          }
        }
      }
    }
  }
}
.mv {
  .intro {
    position: relative;
    background: url('../images/banner_pc.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  &_txt {
    position: absolute;
    top: 226px;
    left: 110px;
    h1 {
      margin: 0 0 138px 85px;
      span {
        font-size: 18px;
        display: block;
        margin-bottom: 20px;
      }
      a {
          width: 275px;
          display: block;
      }
    }
    h2 {
      width: 545px;
    }
  }
}
h2{
  width: 225px;
  margin: 0 auto 50px;
  text-align: center;
  span {
    font-size: 45px;
    line-height: 50px;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #000;
    font-family: "Ubuntu";
  }
  em {
    font-style: normal;
    font-size: 15px;
  }
}
.sub_txt {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  span {
    border-bottom: 5px solid #fe678e;
  }
}
.txt_line {
  position: relative;
  font-size: 23px;
  line-height: 28px;
  text-align: center;
  &:after {
    content: "";
    position: absolute;
    background: url('../images/txt_line.png') no-repeat;
    background-size: contain;
    width: 100%;
    height: 44px;
    bottom: -56px;
    left: 87px;
  }
}
.blue {
  background: #319fde;
  width: 100%;
  height: 66px;
  text-align: center;
  line-height: 26px;
  padding: 8px 0;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
}
.register {
  background: #fff000;
  padding: 40px 0;
  .row {
    display: flex;
  }
  ul {
    display: flex;
    width: 50%;
    li {
      width: calc(100% / 3);
      padding: 0 20px;
    }
  }
  .step_txt {
    width: 50%;
    .txt_line {
      position: relative;
      margin-bottom: 100px;
      font-size: 23px;
      line-height: 28px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        background: url('../images/txt_line.png') no-repeat;
        background-size: contain;
        width: 100%;
        height: 44px;
        bottom: -56px;
        left: 87px;
      }
    }
    .btn {
      background: #fff;
      width: 500px;
      height: 80px;
      font-size: 23px;
      line-height: 28px;
      line-height: 80px;
      text-align: center;
      margin: 0 auto;
      text-decoration: none;
      display: block;
    }
  }
}
.about {
  padding: 60px 0 111px;
  h2 {
    margin-bottom: 30px;
  }
  &_inner {
    margin: 75px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    figure {
      width: 350px;
    }
  }
  &_txt {
    padding: 27px 0;
    width: calc(100% -700px);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    p {
      font-size: 20px;
      line-height: 50px;
    }
  }
}
.snsinfo {
  margin: 72px 0;
  .block_cv {
    align-items: center;
  }
  .left {
    width: 40%;
    figure {
      width: 326px;
      margin: -14px auto 0;
    }
  }
  .right {
    width: 60%;
    p {
      font-size: 20px;
      line-height: 40px;
    }
  }
}
.oldster_case {
  position: relative;
  .txt_line {
    margin-bottom: 54px;
    &:after {
      background-size: contain;
      bottom:-37px;
      left: 0;
    }
  }
  &_txt {
    padding: 12px 40px 50px 40px;
    width: 480px;
    height: 510px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 19%;
    .block_cv {
      align-items: center;
      padding: 30px 0;
      &:nth-of-type(1) {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 196px;
          top: 40px;
          left: 34px;
          background: #000;
        }
      }
    }
    figure {
      width: 64px;
      position: relative;
      z-index: 1;
    }
    .cus_des {
      padding-left: 20px;
      p {
        font-size: 15px;
        line-height: 28px;
        span {
          display: block;
        }
      }
    }
  }
}
.pr_step{
  background: #fe678e;
  padding: 0px 141px 22px;
  position: relative;
  z-index: 2;
  margin-top: -6px;
  &:before {
    content: "";
    position: absolute;
    top: -336px;
    right: 0;
    width: 100%;
    height: 337px;
    background: url('../images/bg_row_01.png') no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -240px;
    left: 0;
    width: 100%;
    height: 337px;
    background: url('../images/bg_row_02.png') no-repeat;
    z-index: -1;
  }
  h2 {
    width: 911px;
    margin: 0 auto 100px;
  }
  ul {
    display: flex;
    li {
      width: calc(100% / 3);
      margin: 0 3%;
      &:nth-of-type(1) {
        figure {
          width: 260px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 300px;
        }
      }
      &:nth-of-type(3) {
        margin-right: 0;
        figure {
          width: 303px;
        }
      }
    }

  }
  figure {
    margin: 0 auto;
    height: 215px;
  }
  article {
    h4 {
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #fff000;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      color: #fff;
    }
  }
}
.landing_case {
  position: relative;
  .txt_line {
    margin-bottom: 54px;
    &:after {
      background-size: contain;
      bottom:-37px;
      left: 0;
    }
  }
  &_txt {
    position: absolute;
    bottom: 0;
    right: 104px;
    background: #fff;
    width: 480px;
    padding: 37px 68px;
    p {
      margin-bottom: 15px;
      font-size: 15px;
      line-height: 28px;
      span {
        font-weight: bold;
      }
    }
  }
  .blue {
    line-height: 68px;
    padding: 0;
    margin-top: 41px;
  }
}
.block_05 {
  padding: 80px 0 0;
  width: 100%;
  background: url('../images/bg_building.png') no-repeat;
  background-position: center bottom 58px;
  background-size: contain;
  &.row {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 60px;
    figure {
      width: 299px;
      margin: 0 auto;
    }
  }
  &_inner {
    display: flex;
    justify-content: space-between;
    p {

    }
    figure {
      margin: 0 auto;
    }
  }
  &_price {
    width: 33%;
    position: relative;
    padding: 40px 0 0;
    p{
      text-align: center;
      font-size: 21px;
      line-height: 36px;
      margin-bottom: 30px;
    }
    .sns {
      width: 233px;
      margin-bottom: 56px;
    }
    .price_icon {
      width: 338px;
    }
  }
  &_smt {
    width: 33%;
    position: relative;
    &:before {
      content: "";
      background: url('../images/bee_icon.png')no-repeat;
      width: 279px;
      height: 441px;
      background-size: contain;
      right: -195px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    figure {
      width: 463px;
    }
  }
  &_help {
    width: 33%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url('../images/sakura_bg.png') no-repeat;
      width: 478px;
      height: 426px;
      top: -80px;
      left: -108px;
      background-size: contain;
      z-index: -1;
    }
    ul {
      margin-bottom: 27px;
      padding: 26px 0 0 39px;
      li {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
    p {
      font-size: 15px;
      line-height: 27px;
      padding-left: 39px;
      em {
        color: #de3339;
        font-style: normal;

      }
    }
  }
}
.block_06 {
  display: flex;
  padding: 95px 0;
  li {
    width: calc(100% / 4);
  }
}
.service {
  padding: 100px 0;
  h2 {
    width: 200px;
    margin: 0 auto 50px;
  }
  dl {
    display: flex;
    border-bottom: 1px solid #000;
    // &:not(last-child) {
    //   margin-bottom: 30px;
    // }
    dt {
      width: 231px;
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      border-right: 1px solid #000;
      padding: 30px 0;
      font-weight: bold;
    }
    dd {
      width: calc(100% - 231px);
      padding: 30px 0 30px 40px;
      font-size: 16px;
    }
  }
  &_inner {
    display: flex;
    margin: 80px 0 0;
    .inner_detail {
      width: 50%;
      h4 {
        width: 374px;
        height: 59px;
        font-size: 20px;
        line-height: 59px;
        text-align: center;
        border-radius: 49px;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 60px;
      }
      figure {
        margin: 0 auto 35px;
        height: 211px;
      }
      p {
        padding: 0 42px 0 112px;
        font-size: 15px;
        margin-bottom: 7px;
        em {
          font-style: normal;
        }
      }
      &:nth-of-type(1) {
        h4 {
          background: #e5e5e5;
        }
        figure {
          width: 411px;
        }
        p {
          em {
            color: #000;
            font-weight: bold;
          }
        }
      }
      &:nth-of-type(2) {
        h4 {
          background: #e52e27;
          color: #fff;
        }
        figure {
          width: 132px;
        }
        p {
          em {
            color: #e52e27;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.option {
  background: $w;
  padding: 0 0 30px;
  h4 {
    margin-bottom: 67px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
      width: 190px;
      margin-bottom: 23px;
      text-align: center;
      margin-bottom: 68px;
      margin-left: 51.5px;
      margin-right: 51.5px;
      figure {
        // width: 222px;
        height: 149px;
        margin: 0 auto;
        figcaption {
          text-align: center;
          font-size: 12px;
        }
      }
      &:nth-of-type(1) {
        figure {
          width: 147px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 147px;
        }
      }
      &:nth-of-type(3) {
        figure {
          width: 151px;
        }
      }
      &:nth-of-type(4) {
        figure {
          width: 142px;
        }
      }
      &:nth-of-type(5) {
        figure {
          width: 148px;
        }
      }
      &:nth-of-type(6) {
        figure {
          width: 84px;
        }
      }
      &:nth-of-type(7) {
        figure {
          width: 126px;
        }
      }
      &:nth-of-type(8) {
        figure {
          width: 126px;
        }
      }
    }
  }
}
.price {
  padding-bottom: 108px;
  h2 {
    width: 160px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    .plan {
      margin-right: 73px;
      width: 50%;
      &:nth-of-type(2) {
        margin-right: 0;
        .grey {
          padding: 30px 37px 72px;
        }
      }
      h4 {
        font-size: 30px;
        line-height: 30px;
        color: #fff;
        padding: 15px 0;
        text-align: center;
        font-family: "Ubuntu";

        &.pink {
          background: #fe678e;
        }
        &.black {
          background: #000;
        }
      }
      .grey {
        background: #f0f0f0;
        padding: 30px 37px 40px;
        p {
          padding: 0 20px;
          &:nth-of-type(1) {
            text-align: center;
            padding-bottom: 10px;
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
            font-family: "Ubuntu";
            span {
              font-size: 20px;
              font-weight: normal;
              font-family: $font-web;
            }
          }
          &:nth-of-type(2) {
            text-align: center;
            font-size: 15px;
            margin-bottom: 40px;
            span {
              font-weight: bold;
              font-size: 20px;
              font-family: "Ubuntu";
            }
          }
          &:nth-of-type(3) {
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: bold;
            span {
              color: #ff0000;
            }
          }
          &:nth-of-type(4) {
            font-size: 14px;
            line-height: 30px;
          }
        }
      }
    }
  }
}
.procedure {
  background: #f7f7f7;
  padding: 60px 0 108px;;
  counter-reset: li;
  ul {
    display: flex;
    margin: 73px -30px 106px;
    li {
      counter-increment: li;
      position: relative;
      position: relative;
      width: calc(100% / 3);
      background: #fff;
      margin: 0 30px;
      padding: 80px 35px 30px;
      &:before {
        position: absolute;
        content: "";
        background: #fe678e;
        border-radius: 100%;
        width: 60px;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
        top: -27px;
      }
      &:after {
        content: counter(li);
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        font-weight: 400;
        left: 50%;
        transform: translateX(-50%);
        top: -12px;
        position: absolute;
      }
      figure {
        margin: 0 auto 45px;
      }
      &:nth-of-type(1) {
        figure {
          width: 102px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 111px;
        }
      }
      &:nth-of-type(3) {
        figure {
        width: 151px;
        }
      }
      h5 {
        font-size: 18px;
        font-weight: bold;
        line-height: 25px;
        margin-bottom: 18px;
      }
      p {
        font-size: 14px;
        line-height: 30px;
      }
    }
  }
}
.casestudy {
  padding: 79px 0;
  h2 {
    width: 251px;
    margin: 0 auto 100px;
  }
  article {
    display: flex;
    &:nth-of-type(1) {
      margin-bottom: 73px;
    }
    &:nth-of-type(2) {
      .store_info {
        margin-bottom: 60px;
      }
    }
    .photo{
      width: 45%;
      figure {
        margin-bottom: 20px;
      }
    }
    .cv_box {

      width: 55%;
      padding-left: 50px;
      h3 {
        font-size: 27px;
        line-height: 40px;
        border-bottom: 1px solid #000;
        margin-bottom: 50px;
        padding-bottom: 10px;
      }
      h4 {
        font-size: 20px;
        margin-bottom: 22px;
      }
      p {
        font-size: 14px;
        line-height: 36px;
      }
      .store_info {
        &:nth-of-type(1) {
          margin-bottom: 30px;
          p {
            &:nth-of-type(1) {
              margin-bottom: 20px;
            }
          }
        }
      }
      .btn {
        background: #ff6586;
        line-height: 65px;
        height: 65px;
        width: 300px;
        color: #fff;
        text-align: center;
        margin: 70px auto 0;
      }
    }
  }
}
.footer {
  background: #f3f3f3;
  padding: 60px 0;
  position: relative;
  margin-top: 100px;
  &:after {
    content: "";
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
    height: 130px;
    background: url('../images/grey_bg.png') no-repeat;
    background-size: cover;
  }
  &_nav {
    display: flex;

    ul {
      &:not(:last-child) {
        margin-right: 50px;
      }
      li {
        margin-bottom: 10px;
        a {
          font-size: 14px;
          line-height: 23px;
          font-weight: bold;
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
  &_info{
    padding-top: 50px;
    h1 {
      width: 215px;
      font-size: 0;
      margin-bottom: 30px;
    }
    p {
      font-size: 14px;
      margin-bottom: 10px;
      line-height: 21px;
    }
    a {
      color: #000;
      text-decoration: none;
      margin-bottom: 10px;
    }
  }
  small {
    font-size: 11px;
    line-height: 18px;
    float: right;
    font-family: "Ubuntu";
  }
}
