//
// landing page
//------------------------------------------------------------------------
@charset "utf-8";
body,
td,
th,
input,
textarea {
  font-family: $font-web;
}
img {
  width: 100%;
}
.container {
  min-width: 1280px;
}
.row {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.block_cv {
  display: flex;
}

.show_sp {
  display: none;
}
.ins_txt {
 color: #f52e70;
}
.tw_txt {
  color: #008aff;
}
.fb_txt {
  color: #2c4e87;
}
.header {
  .intro {
    position: relative;
    background: url('../images/banner_pc.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  &_txt {
    position: absolute;
    top: 226px;
    left: 110px;
    h1 {
      margin: 0 0 138px 85px;
      span {
        font-size: 18px;
        display: block;
        margin-bottom: 20px;
      }
      a {
          width: 275px;
          display: block;
      }
    }
    h2 {
      width: 545px;
    }
  }
}
.block_01 {
  padding-bottom: 40px;
  .block_cv {
    align-items: center;
  }
  .left {
    width: 40%;
    figure {
      width: 326px;
      margin: -14px auto 0;
    }
  }
  .right {
    width: 60%;
    p {
      font-size: 20px;
      line-height: 40px;
    }
  }
}
.block02 {
  position: relative;
  &_txt {
    width: 523px;
    height: 504px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 19%;
    padding: 39px 0 39px;
    .block_cv {
      align-items: center;
      padding: 54px 20px 50px 64px;
      &:nth-of-type(1) {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          width: 1px;
          height: 270px;
          top: 62px;
          left: 95px;
          background: #000;
        }
      }
    }
    figure {
      width: 64px;
      position: relative;
      z-index: 1;
    }
    .cus_des {
      padding-left: 20px;
      p {
        font-size: 20px;
        span {
          display: block;
        }
      }
    }
  }
}
.block_03 {
  background: #fe678e;
  padding: 0px 141px 22px;
  position: relative;
  z-index: 2;
  margin-top: -6px;
  &:before {
    content: "";
    position: absolute;
    top: -336px;
    right: 0;
    width: 100%;
    height: 337px;
    background: url('../images/bg_row_01.png') no-repeat;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -240px;
    left: 0;
    width: 100%;
    height: 337px;
    background: url('../images/bg_row_02.png') no-repeat;
    z-index: -1;
  }
  h2 {
    width: 911px;
    margin: 0 auto 100px;
  }
  ul {
    display: flex;
    li {
      width: calc(100% / 3);
      margin: 0 3%;
      &:nth-of-type(1) {
        figure {
          width: 260px;
        }
      }
      &:nth-of-type(2) {
        figure {
          width: 300px;
        }
      }
      &:nth-of-type(3) {
        margin-right: 0;
        figure {
          width: 303px;
        }
      }
    }

  }
  figure {
    margin: 0 auto;
    height: 215px;
  }
  article {
    h4 {
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      color: #fff;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 28px;
      color: #fff;
    }
  }
}
.block04 {
  position: relative;
  &_txt {
    position: absolute;
    bottom: 0;
    right: 104px;
    background: #fff;
    width: 525px;
    padding: 37px 68px;
    p {
      font-size: 20px;
      line-height: 35px;
      &:nth-of-type(1) {
        margin-bottom: 10px;
      }
      span {
        font-weight: bold;
      }
    }
  }
}
.block_05 {
  padding: 80px 0 0;
  width: 100%;
  background: url('../images/bg_building.png') no-repeat;
  background-position: center bottom 58px;
  background-size: contain;
  &.row {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
  }
  h2 {
    margin-bottom: 60px;
    figure {
      width: 299px;
      margin: 0 auto;
    }
  }
  &_inner {
    display: flex;
    justify-content: space-between;
    p {

    }
    figure {
      margin: 0 auto;
    }
  }
  &_price {
    width: 33%;
    position: relative;
    padding: 40px 0 0;
    p{
      text-align: center;
      font-size: 21px;
      line-height: 36px;
      margin-bottom: 30px;
    }
    .sns {
      width: 233px;
      margin-bottom: 56px;
    }
    .price_icon {
      width: 338px;
    }
  }
  &_smt {
    width: 33%;
    position: relative;
    &:before {
      content: "";
      background: url('../images/bee_icon.png')no-repeat;
      width: 279px;
      height: 441px;
      background-size: contain;
      right: -195px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
    figure {
      width: 463px;
    }
  }
  &_help {
    width: 33%;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      background: url('../images/sakura_bg.png') no-repeat;
      width: 478px;
      height: 426px;
      top: -80px;
      left: -108px;
      background-size: contain;
      z-index: -1;
    }
    ul {
      margin-bottom: 27px;
      padding: 26px 0 0 39px;
      li {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 4px;
      }
    }
    p {
      font-size: 15px;
      line-height: 27px;
      padding-left: 39px;
      em {
        color: #de3339;
        font-style: normal;

      }
    }
  }
}
.block_06 {
  display: flex;
  padding: 60px 0;
  li {
    width: calc(100% / 4);
  }
}
.block_07 {
  margin-bottom: 200px;
  h2 {
    width: 467px;
    margin: 0 auto 50px;
  }
  dl {
    display: flex;
    border-bottom: 1px solid #000;
    // &:not(last-child) {
    //   margin-bottom: 30px;
    // }
    dt {
      width: 231px;
      text-align: center;
      font-size: 20px;
      line-height: 28px;
      border-right: 1px solid #000;
      padding: 30px 0;
      font-weight: bold;
    }
    dd {
      width: calc(100% - 231px);
      padding: 30px 0 30px 40px;
      font-size: 16px;
    }
  }
  &_inner {
    display: flex;
    margin: 80px 0 0;
    .inner_detail {
      width: 50%;
      h4 {
        width: 374px;
        height: 59px;
        font-size: 20px;
        line-height: 59px;
        text-align: center;
        border-radius: 49px;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 60px;
      }
      figure {
        margin: 0 auto 35px;
        height: 211px;
      }
      p {
        padding: 0 42px 0 112px;
        font-size: 15px;
        margin-bottom: 7px;
        em {
          font-style: normal;
        }
      }
      &:nth-of-type(1) {
        h4 {
          background: #e5e5e5;
        }
        figure {
          width: 411px;
        }
        p {
          em {
            color: #000;
            font-weight: bold;
          }
        }
      }
      &:nth-of-type(2) {
        h4 {
          background: #e52e27;
          color: #fff;
        }
        figure {
          width: 132px;
        }
        p {
          em {
            color: #e52e27;
            font-weight: bold;
          }
        }
      }
    }
  }
}
.block_08 {
  h2 {
    width: 322px;
    margin: 0 auto 100px;
  }
  article {
    display: flex;
    flex-wrap: wrap;
    &:nth-of-type(even) {
      flex-direction: row-reverse;
      margin-top: -5px;
    }
    figure {
      width: 50%;
    }
    .cv_box {
      width: 50%;
      background: #f6f6f6;
      padding-top: 100px;
      h3 {
        font-size: 27px;
        line-height: 40px;
        border-bottom: 1px solid #000;
        margin-bottom: 60px;
      }
      h4 {
        font-size: 24px;
        font-size: 27px;
        margin-bottom: 35px;
      }
      p {
        font-size: 16px;
        line-height: 36px;
      }
      .btn {
        background: #ff6586;
        line-height: 65px;
        height: 65px;
        width: 300px;
        color: #fff;
        text-align: center;
        margin: 70px auto 0;
      }
      .niimi_info {
        padding: 0 80px 0 0;
        h3 {
          padding: 0 0 30px 69px;
        }
        h4 {
          padding-left: 63px;
        }
        p {
          padding-left: 63px;
        }
      }
      .coffee_info {
        padding: 0 0 0 80px;
        h3 {
          padding: 0 69px 30px 0;
        }
        h4 {
          padding-right: 63px;
        }
        p {
          padding-right: 63px;
        }
      }
    }
  }
}
